body{
    background-color: rgb(195, 0, 255)
}

button{
Background-color: rgb(95, 52, 160)

}

.button1{
    border: 5px solid;
    border-color: rgb(172, 134, 37);
}

.button2{
    border: 5px solid;
    border-color: rgb(0, 255, 217);
}
.container{
        width: 100%;
        overflow: hidden;
    }  
.box{
    float: left;
    width: 33.33%;
    padding: 15px;
    color: white;
    box-sizing: border-box;
    }   

    .LeftAlign{
    background-color: red;
    border: 3px solid green;
    }
    .CenterAlign{
        background-color: green;
        border: 3px solid blue;
    }
    .RightAlign{
        background-color: blue;
        border: 3px solid red;
    }