body{
    background-color: rgb(195, 0, 255)
}

button{
Background-color: rgb(95, 52, 160)

}

.button1{
    border: 5px solid;
    border-color: rgb(172, 134, 37);
}

.button2{
    border: 5px solid;
    border-color: rgb(0, 255, 217);
}